<a href="https://colab.research.google.com/github/StrizhAXE/MathStat/blob/main/Les_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1
Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean):

In [1]:
import numpy as np
from math import factorial as fl

# сочетания
def combinations(k, n):
    return fl(n) / (fl(k) * fl(n - k))

In [2]:
salaries = np.array([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])

Cреднее арифметическое

In [3]:
salaries_mean = salaries.sum() / salaries.size
salaries_mean

65.3

Cреднее квадратичное отклонение

In [4]:
(np.sum((salaries - salaries_mean)**2) / salaries.size)**0.5

30.823854398825596

Cмещенную дисперсию

In [5]:
np.sum((salaries - salaries_mean)**2) / salaries.size

950.11

Несмещенную дисперсию

In [6]:
np.sum((salaries - salaries_mean)**2) / (salaries.size - 1)

1000.1157894736842

2
В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

In [7]:
#тут должно быть решение, но его пока нет

3
На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен:

In [8]:
A = 1/3 * 0.9 + 1/3 * 0.8 + 1/3 * 0.6
A

0.7666666666666666

a). первым спортсменом

In [9]:
(1/3 * 0.9) / A

0.391304347826087

б). вторым спортсменом

In [10]:
(1/3 * 0.8) / A

0.3478260869565218

в). третьим спортсменом

In [11]:
(1/3 * 0.8) / A

0.3478260869565218

4
В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

In [12]:
A = 1/4 * 0.8 + 1/4 * 0.7 + 1/2 * 0.9
A

0.825

a). на факультете A

In [13]:
(1/4 * 0.8) / A

0.24242424242424246

б). на факультете B

In [14]:
(1/4 * 0.7) / A

0.21212121212121213

в). на факультете C

In [15]:
(1/2 * 0.9) / A

0.5454545454545455

Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

In [16]:
#тут должно быть решение, но его пока нет